* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  min-height: 100vh;
  background-color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button {
  width: 100px;
  background-color: black;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #555555;
}

.cta,
.content,
.left {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title,
.header p {
  margin-left: 10px;
  font-family: 'Playfair Display', serif;
}

.header {
  font-size: 36px;
  font-weight: 600;
  margin-left: 60px;
  border-left: 6px solid red;
}

.actionTitle {
  font-size: 24px;
  font-weight: 600;
}

.actionDescription {
  font-size: 16px;
}

.content {
  flex-direction: row;
  align-items: stretch;
}

.left {
  justify-content: center;
  gap: 30px;
  padding: 60px;
  background-color: #f1f1f1;
}

.right,
.left {
  width: 50%;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.contactBox {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
  padding: 30px 60px;
  height: 300px;
  background: #00001a;
  position: relative;
}

.contactBox::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #00001a;
  position: absolute;
  top: -10px;
  left: 50px;
}

.contactBox button {
  height: 20px;
  background-color: transparent;
  border: 0;
}

.contactBox svg {
  cursor: pointer;
  color: white;
}

.contactTitle {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

@media screen and (max-width: 768px) {
  .button {
    width: 100%;
    margin: 0;
  }

  .header {
    font-size: 26px;
    margin-left: 10px;
  }

  .title {
    padding: 10px;
    align-items: center;
  }

  .contactBox {
    padding: 10px;
  }

  .content {
    align-items: center;
    flex-direction: column-reverse;
  }

  .left {
    padding: 30px;
  }

  .right,
  .left {
    width: 100%;
  }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {

  .header {
    font-size: 26px;
    margin-left: 30px;
  }

  .left,
  .contactBox {
    padding: 30px;
  }
}