* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  min-height: 100vh;
  background-color: white;
}

.cta__content__button {
  width: 100px;
  background-color: black;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.cta__content__button:hover {
  background-color: #555555;
}

.cta,
.cta__content,
.cta__content__left {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cta__title,
.cta__title__header__text {
  margin-left: 10px;
  font-family: 'Playfair Display', serif;
}

.cta__title__header {
  font-size: 36px;
  font-weight: 600;
  margin-left: 60px;
  border-left: 6px solid red;
}

.cta__content__action-title {
  font-size: 24px;
  font-weight: 600;
}

.cta__content__action-description {
  font-size: 16px;
}

.cta__content {
  flex-direction: row;
  align-items: stretch;
}

.cta__content__left {
  justify-content: center;
  gap: 30px;
  padding: 60px;
  background-color: #f1f1f1;
}

.cta__content__right,
.cta__content__left {
  width: 50%;
}

.cta__content__right__image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.contact {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
  padding: 30px 60px;
  height: 300px;
  background: #00001a;
  position: relative;
}

.contact::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #00001a;
  position: absolute;
  top: -10px;
  left: 50px;
}

.contact__close-button {
  height: 20px;
  background-color: transparent;
  border: 0;
}

.contact__close-button svg {
  cursor: pointer;
  color: white;
}

.contact__title {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

@media screen and (max-width: 768px) {
  .cta__content__button {
    width: 100%;
    margin: 0;
  }

  .cta__title__header {
    font-size: 26px;
    margin-left: 10px;
  }

  .cta__title {
    padding: 10px;
    align-items: center;
  }

  .contact {
    padding: 10px;
  }

  .cta__content {
    align-items: center;
    flex-direction: column-reverse;
  }

  .cta__content__left {
    padding: 30px;
    min-height: 400px;
  }

  .cta__content__right,
  .cta__content__left {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cta__title__header {
    font-size: 26px;
    margin-left: 30px;
  }

  .cta__content__left {
    padding: 10px;
  }

  .contact {
    padding: 30px;
  }
}